<!-- landingPage.html -->
<html>
  <head>
    <title>InDe</title>
    <script src="/public/js/jquery/jquery.js"></script>
    <script src="/public/js/react-0.13.3/build/react.js"></script>
    <script src="/public/js/react-0.13.3/build/JSXTransformer.js"></script>
  <body>


  	{{{body}}}

 
  </body>
</html>
